.SS_CopyRightStatement,
td.SS_EJPMainCell br {
    display: none;
} 

.SS_Holding {
    border-bottom: 1px solid #ddd;
    padding-top: .75em;
    font-size: 1.1em;
}

.SS_Holding table:first-child {
	font-style: italic;
	margin-left: -.25em;
}

.SS_JournalTitle {
	font-size: 1.2em;
}

center {
	text-align: left !important;
}

ul.dropdown-menu {
    list-style: none;
    margin: 0;
    padding: .5em;
    border: 1px solid #dcdcdc;
    border-top: none;
    z-index: 100;
    position: absolute;
    background-color: #fff;
    -webkit-box-shadow: 10px 10px 15px -2px rgba(220,220,220,0.4);
    -moz-box-shadow: 10px 10px 15px -2px rgba(220,220,220,0.4);
    box-shadow: 10px 10px 15px -2px rgba(180,180,180,0.4);
}

#submit-title-search-type {
 	background: #1b6ec2;
 	color: #fff;
}

/* ProQuest sets the background color of images to white because they are not thinking */

img { background: transparent !important; }

hr.SS_EJPPreContentHorizontalRules { clear: both; border: none !important;}

.SS_AtoZLinks { clear: both; }

span.SS_JournalISSN {
    font-size: 95%;
    font-weight: normal;
}
.SS_ToolLabels { padding-top: 1.7em;}


@media screen and (min-width: 768px) {

	.SS_TitleSearchForm { width: 48%; float: left;}
	center > .SS_CategorySelector { width: 48%; padding-left:2.5%; float: left; }

}