.SS_CopyRightStatement,
td.SS_EJPMainCell br {
    display: none;
} 

.SS_Holding {
    border-bottom: 1px solid #ddd;
    padding-top: .75em;
    font-size: 1.1em;
}

.SS_Holding table:first-child {
	font-style: italic;
	margin-left: -.25em;
}

.SS_JournalTitle {
	font-size: 1.2em;
}

center {
	text-align: left !important;
}

hr.SS_EJPPreContentHorizontalRules { clear: both; border: none !important;}

.SS_AtoZLinks { clear: both; }

span.SS_JournalISSN {
    font-size: 95%;
    font-weight: normal;
}
.SS_ToolLabels { padding-top: 1.7em;}

#library-chat a {
	padding: .65em .85em .65em 3em !important;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA8klEQVQ4y2NgoAWIPhHNl3I6xSH1TGoRkK5KPpXskXgoUZQYvYxATRmpp1M/pZ1J+4+Gf6WeSm323ObJjlNz2um0TVg0omCgBRdjd8ZyY+gGai4kpBnJkFkompOPJQsBJX4QawAIp5xIMYYbkHoy1Z0UzWADTqcUIDu/GqtTT6fi88YSZANySHUBUM8URBicTjYj2YAzafFwA0JXhbIBnXuP6FgAppOkI0lSqDFxOtkaKPGHqAA8lZKINSUBU1oqUMFXPDb/AQZeG960nHQ6SQmoaB1QwzukEP8CpPcBLTAlKVMlHE9QAGrUYGhgYGKgFQAAoot2F4Rm8VoAAAAASUVORK5CYII=') !important;
	background-position: 10% 50%;
	background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {

	.SS_TitleSearchForm { width: 48%; float: left;}
	center > .SS_CategorySelector { width: 48%; padding-left:2.5%; float: left; }

}